<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{assets type='css'} {assets type='js'}
</head>
<body>

	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<div class="container">
		{$_body}

		<div style="text-align: center; margin: 0 auto;">
			<h6 style="color: #fff;">GSP Tracking 1.0.0.1 Powered by © ICT
				2014</h6>
		</div>

	</div>
	<div id="test1" class="gmap3"></div>



	<!--  END OF PAPER WRAP -->





	<script type="text/javascript">
	$(function() {

	    $("#test1")
		    .gmap3(
			    {
				marker : {
				    latLng : [ -7.782893, 110.402645 ],
				    options : {
					draggable : true
				    },
				    events : {
					dragend : function(marker) {
					    $(this)
						    .gmap3(
							    {
								getaddress : {
								    latLng : marker
									    .getPosition(),
								    callback : function(
									    results) {
									var map = $(
										this)
										.gmap3(
											"get"), infowindow = $(
										this)
										.gmap3(
											{
											    get : "infowindow"
											}), content = results
										&& results[1] ? results
										&& results[1].formatted_address
										: "no address";
									if (infowindow) {
									    infowindow
										    .open(
											    map,
											    marker);
									    infowindow
										    .setContent(content);
									} else {
									    $(
										    this)
										    .gmap3(
											    {
												infowindow : {
												    anchor : marker,
												    options : {
													content : content
												    }
												}
											    });
									}
								    }
								}
							    });
					}
				    }
				},
				map : {
				    options : {
					zoom : 15
				    }
				}
			    });

	});
    </script>
</body>
</html>