<!DOCTYPE html>
<html lang="en">
<head>
<title>GST Tracking demo version</title>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="shortcut icon" href="/satellite.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{assets type='css'} {assets type='js'}
</head>
<body>

	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<div class="container">
		{$_body}

		<div style="text-align: center; margin: 0 auto;">
			<h6 style="color: #fff;">GSP Tracking 1.0.0.1 Powered by © ICT
				2014</h6>
		</div>

	</div>
	<div id="test1" class="gmap3"></div>



	<!--  END OF PAPER WRAP -->





	<script type="text/javascript">
	$(function() {
	    $(window).resize(function (){
	        $('#login-wrapper').css({

	            top: ($(window).height() - $('#login-wrapper').outerHeight())/2
	        });
	    });
	    $(window).resize();

	    $("#test1")
		    .gmap3(
			    {

				map : {
				    options : {
					center:[21.030047, 105.842441],
					zoom : 15,
					scrollwheel: false,
				     streetViewControl: false,
				     mapTypeControl: false,

				    }
				}
			    });

	});
    </script>
</body>
</html>