<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>GST Tracking demo version</title>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="shortcut icon" href="/satellite.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript">

	var assets_url = "http://as1.viettracker.vn";
	var site_url = "{site_url}";
	var token = "bWFwZ3Bz";
    </script>
	{assets type='css'}
	{assets type='js'}
	<script type="text/javascript">
		vmap.zoom = {config item='gps_zoom'};
		vmap.refresh = '{config item="refresh-time"}';
		vmap.timestamp = '{strtotime("now")*1000}';
		{*
		vmap.token = {'name':'{config item="csrf_token_name"}','val':'{php}get_instance->security->get_csrf_hash(){/php}'};
		*}
		tracking.center = true;
		vmap.markerInfo = new google.maps.InfoWindow();
		$(function() {
		    $("#gps-vehicles").dropdownchecklist({ firstItemChecksAll: true, icon: {}, width: 250});
		});

	</script>
</head>
<body>
	<div class="header wrappage">
		<a href="#" class="logo" target="_blank">GPS Tracking<span>demo</span></a>
		<div class="menu">
			<ul>

				<li>{anchor uri='ban-do' txt='Map'}</li>
				<li>{anchor uri='theo-doi' txt='Position'}</li>
				<li>{anchor uri='lich-su' txt='History'}</li>
				<li>{anchor uri='thong-ke' txt='Report'}</li>
				<li>{anchor uri='thiet-bi' txt='Manager'}</li>
			</ul>
		</div>
		<div class="account">
			<ul>
				<li>{anchor uri='dang-xuat' txt='Logout'}</li>
				<li>{anchor uri='' txt='User Guide'}</li>
				<li><span>Xin Chào: </span>{anchor uri='tai-khoan' txt=$username}</li>
			</ul>
		</div>
	</div>

	{if isset($msgq)}
	<div id="mini-notification">
		<p>{$msgq}</p>
	</div>
	{/if}

	<div class="wrappage">
		<div class='clearfix wrappage container'>
			<div class="gps-tool clearfix">
				<div id="vehicle-info"></div>
				<div class="vehicles crfloat ">
					<span style="display: inline-block; padding: 0 5px;">Chọn Phương Tiện</span>
					<select id="gps-vehicles"  multiple="multiple" >
						<option value="*">(Tất Cả Thiết Bị)</option>
						{if isset($motors) AND $motors|count > 0}{foreach $motors AS $m}
						<option value="{$m->sid}" >{$m->name}</option>
						{/foreach}{/if}

					</select>


				</div>
			</div>
			{$_body}

		</div>
	</div>
	<div class="ajax-modal"></div>
</body>
</html>