<div id="vehicle-info">
<div class="cenal" >
<input type="button" value="<< {lang txt='Previous Month'}" title="Previous" name="time-pre" >
<span style="display: inline-block; margin: 0 5px;">{lang txt='day'}</span>
<select name="rday">
	<option value="0" >{lang txt='All Day'}</option>
	{for $foo=1 to 31}<option value="{$foo}" >{$foo}</option>{/for}
</select>
<input type="button" value="{lang txt='Next Month'} >>" title="Next" name="time-next" >
<span style="display: inline-block; margin: 0 5px 0 15px; font-weight: bold; color: #2779AA;" name="statistic_title" ></span>
<input type="hidden" name="rmonth" value="0">
<input type="hidden" name="ryear" value="0">
</div>
</div>

<div class="gps-right">
	{*
	<input type="button" value="Road Data" title="Road Data" name="waydata" class="gps-button" disabled="disabled" >
	<input type="button" value="Fuel Data" title="Fuel Data" name="fueldata" class="gps-button"  >
	*}
	<p></p>
	<div id="chart" style="height: 250px; width:850px;" ></div>
</div>