<div class="" id="login-wrapper">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div id="logo-login">
				<h1>
					GST Tracking <span>demo</span>
				</h1>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="account-box">

				<form autocomplete="off" method="post" action="" role="form" >
					<div class="form-group">
						<label
							for="inputUsernameEmail">{lang txt='Username or email'}</label>
							<input
							type="text" id="inputUsernameEmail" class="form-control" name="username" >
					</div>
					<div class="form-group">
						<label
							for="inputPassword">{lang txt='Password'}</label>
							<input type="password" id="inputPassword" class="form-control" name="password" >
					</div>
					<div class="checkbox pull-left">
						<label> <input type="checkbox">{lang txt='Remember me'}</label>
					</div>
					{input_token}
					<button class="btn btn btn-primary pull-right" type="submit">{lang txt="Log In"}</button>
				</form>
				{* <a class="forgotLnk" href="index.html"></a>
				<div class="or-box">

					<center>
						<span class="text-center login-with">Login or <b>Sign
								Up</b></span>
					</center>
					<div class="row">
						<div class="col-md-6 row-block">
							<a href="index.html" class="btn btn-facebook btn-block"> <span
								class="entypo-facebook space-icon"></span>Facebook
							</a>
						</div>
						<div class="col-md-6 row-block">
							<a href="index.html" class="btn btn-twitter btn-block"> <span
								class="entypo-twitter space-icon"></span>Twitter
							</a>

						</div>

					</div>
					<div style="margin-top: 25px" class="row">
						<div class="col-md-6 row-block">
							<a href="index.html" class="btn btn-google btn-block"><span
								class="entypo-gplus space-icon"></span>Google +</a>
						</div>
						<div class="col-md-6 row-block">
							<a href="index.html" class="btn btn-instagram btn-block"><span
								class="entypo-instagrem space-icon"></span>Instagram</a>
						</div>

					</div>
				</div>
				<hr>
				*}

				<div class="row-block">
					<div class="row">
						<div class="col-md-12 row-block">
							{* <a href="index.html" class="btn btn-primary btn-block">Create
								New Account</a> *}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>





