<div class="gps-left">
	<div class="obi  clfloat" style="padding: 0 5px;" >
		<h3 >{$vehicle->fullname}</h3>
		<div class="obi-t fweightupcase cenal"><span class="value" name="time" ></span></div>
		<div class="obi-pn fweightupcase cenal" name="vehicle-name" >{$vehicle->plate_number}</div>
		<div class="obi-s cenal fweightupcase" >
			<div class="icon-h30 icon-motor" ></div><span class="value" name="speed"></span><div class="icon-h30 icon-speed" ></div>
		</div>
		<div class="obi-l" ><label>Tín hiệu GPS</label><span class="value" name="gps" ></span></div>
		<div class="obi-l" ><label>Tín hiệu GSM</label><span class="value" name="gsm"></span></div>
		<div class="obi-l" ><label>Vĩ tuyến</label><span class="value" name="la"></span></div>
		<div class="obi-l" ><label>Kinh tuyến</label><span class="value" name="lon"></span></div>
		<div class="obi-l" ><label>Điện áp nguồn</label><span class="value" name="vaq"></span><span class="unit" >V</span></div>

		<input type="image" style="border-width:0px; display: none;" title="Cập nhật ví trí mới nhất của thiết bị" id="ImageButton1" name="ImageButton1">
	</div>

</div>
<div class="gps-right gmap-area" >
	<div id="gmap" ></div>
	<div id="gmap-status"></div>
	<div id="gmap-address" lo="" la="" ></div>
</div>
